<div class="container p-4">
  <table class="table table-bordered border-success">
        <tr>
          <td class="menu-selected" routerLink="/profil/mydetails">Mes coordonnées</td>
        </tr>
        <tr>         
          <td class="no-selected" routerLink="/profil/mystations">Mes bornes</td>         
        </tr>
        <tr>        
          <td class="no-selected" routerLink="/profil/myreservations">Mes reservations</td>
        </tr>
        <tr>        
            <td class="no-selected">Autres</td>
        </tr>
    </table>
  </div>

