
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid py-2">
      <div class="d-flex">
        <img src="../../assets/logo.png" alt="logo" width="50" height="60" class="img-fluid me-2" class="rounded-circle">
       
        <a class="navbar-brand" routerLink=""> SHACHA</a>
      </div>
      <div class=".d-inline-flex">
      <a class="navbar-brand" routerLink="/register">Inscription</a>
      <a class="navbar-brand" routerLink="/login">Connexion</a>
      </div>
    </div>
  </nav>

  