<p>profil-detail works!</p>
<div class="row">
    <app-profil-side-menu class="col-3"></app-profil-side-menu>

    <div class="col-7" *ngIf="user">
        <div class="row">
                
            <div class="container">
                <div class="row">
                  <div class="col-4"><img [src]='user.urlAvatar' alt="photo de profils" width="150" height="150" class="img-fluid me-2 rounded-circle"></div>
                  <div class="col-6"> <p>Nom : {{user.firstname}} {{user.lastname}} <br> Email : {{user.email}} 
                    <br>Portable : {{user.phoneNumber}}  </p>
                  </div>
                  
                <div class="row">
                  <ng-container *ngFor="let address of user.addresses">
                    <div class="col-6"><p>Adresse : {{address.streetNumber}} , {{address.streetName}}<br> Ville : {{address.city}}</p>
                    </div>
                  </ng-container>
                </div>
              </div>

        </div>
    </div>

</div>
