<div class="row">
    <app-profil-side-menu 
      class="col-3 my-5"
      [menuName]="'Detail'"
    ></app-profil-side-menu>

    <div class="col-7" *ngIf="user">
      
        <div class="row">
                
            <div class="container my-5">
                <div class="row">
                  <div class="col-4"><img [src]='user.urlAvatar' alt="photo de profils" width="150" height="150" class="img-fluid me-2 rounded-circle"></div>
                  <div class="col-6"> <p>Nom : {{user.firstname}} {{user.lastname}} <br> Email : {{user.email}} 
                    <br>Portable : {{user.phoneNumber}}  </p>
                    <button class="btn btn-warning my-1" routerLink="/profil/mydetails/edit">Modifier</button>
                  </div>
                  
                <div class="row justify-content-around my-4 border-top border-4 border-success">
                  <ng-container *ngFor="let address of user.addresses">
                                   
                    <div class="col-6 my-2 border"><p>Adresse : {{address.streetNumber}} , {{address.streetName}} <br> Ville : {{address.city}}</p>
                      <div style="text-align:center" my-2 class="d-flex justify-content-evenly p-3">
                      <i class="fa fa-pencil" aria-hidden="true"></i> 
                      <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <button class="btn btn-success my-1" routerLink="">Ajouter une adresse</button>
              </div>

        </div>
    </div>

</div>


