
<div class="container p-2 my-5 border border-success ">
  <form (submit)="submit()" #profileForm class="col-md-6 col-sm-12 mx-auto mt-5"> 
    <h3 style="text-align:center">Connexion</h3>
    <label for="username"> Login :</label>
      <input name="username" type="text" class="form-control" placeholder="Adresse mail"
                          [(ngModel)]="username" required/>
    
    <br><br>
    <label for="password"> Password :</label>
      <input name="password" type="password" class="form-control" placeholder="Mot de passe"
                         [(ngModel)]="password" required />
    
  <br><br>

  <div class="container d-flex justify-content-evenly p-3 text-white">
    
    <a href="#" class="btn btn-danger" role="button">Annuler</a>
    <button class="btn btn-success" type="submit" [disabled]="!profileForm.checkValidity()">Submit</button>
  </div>
  </form>
</div>



