

* {
    font-family: Roboto, Helvetica, sans-serif;
}

.router-link {
    cursor: pointer;
}

.container-form {
    background-color: $default-blue;
    color: $default-white-color;
    padding: 1em 0;
}