
// $default-green: #59b60d;
$default-green: #247048;
// $default-blue: #4759a8;
$default-blue: #DF6E31;
$default-white-color: #fffcc2;

$background-search: $default-blue;
$background-navbar: $default-green;
$background-footer: $default-green;