<div class="row">
    <app-profil-side-menu class="col-3"></app-profil-side-menu>

    <div class="col-8" *ngIf="user">
        <div class="row">

            <div class="border-3 border-bottom border-secondary my-5" 
                *ngFor="let station of user.stations">
                <div>
                    <p>Station : {{station.name}}</p>
                    <p>Modele : {{station.model}}</p>
                    <p>create At : {{station.createAt}}</p>
                </div>
                <div class="border-2 border-top">
                    <p>Address:</p>
                    <p>{{station.address.city}}</p>
                    <p>{{station.address.streetNumber}} {{station.address.streetName}} </p>

                </div>
                <button class="btn btn-warning my-1" routerLink="/profil/mystation/{{station.id}}/edit">Modifier</button>
            </div>
        </div>
    </div>

</div>
