<div class="row">
    <app-profil-side-menu class="col-3"></app-profil-side-menu>
    
    <div class="col-8" *ngIf="user">
        <div class="row">
            <h1>Mes reservations</h1>

            <div class="border-3 border-bottom border-secondary my-5" 
                *ngFor="let rent of user.rents">

                <p>id : {{rent.id}}</p>
                <p>buyAt : {{rent.byuAt |date}}</p>
                <p>status : {{rent.status}}</p>
                <div *ngFor="let avail of rent.availabilities">
                    <p>Réservé <p>
                    <p>de {{avail.beginHour}}H à {{avail.endHour}}H</p>
                    <p>{{avail.station.id}}</p>
                    <p>{{avail.station.name}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
