<nav class="search-background">
    <div class="row col-lg-6 col-md-12 py-4 mx-auto">
      <h2 class="search-title">
        le partage est toujours mieux,<br> partage ta borne !
      </h2>

      <div class="d-flex input-group">
        <input
          type="text"
          class="form-control rounded input-form"
          placeholder="Trouvez une borne"
          aria-label="Search"
          aria-describedby="search-addon"
          [(ngModel)]="searchValue"
          (keyup)="onKeyUp()"
        />
        <span class="input-group-text text-white border-0  bg-secondary" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </nav>