
    <br>
    <h2>Qui somme nous ?</h2>
    <div>L’entreprise Share’n Charge « SHACHA » pour les amis, est une plateforme communautaire payante de partage des bornes entre particulières.
Elle a été créé en 2023 dans le cadre d’un projet de formation professionnel de l’Institute IPME de Clermont Ferrand par un duo dynamique 
    </div>
    <div>
    <img src="../../assets/logo.png" alt="logo" width="50" height="60" class="img-fluid me-2" class="rounded-circle">
    </div>


    <div>Une voiture électrique est une automobile mue par un ou plusieurs moteurs électriques, généralement alimentés par une batterie d'accumulateurs voire une pile à hydrogène.

        Parmi les modèles de chacune de ces filières, on peut citer la Tesla Model 3 et la Renault Zoe équipées de batteries et la Toyota Mirai dotée d'une pile à combustible.
        
        La part de marché de la voiture électrique atteint 5,9 % au niveau mondial en 2021 et 12,1 % en Europe en 2022 ; les parts de marché les plus élevées en 2022 se rencontrent en Norvège (79 %), en Suède (33 %), aux Pays-Bas (23 %) et en Allemagne (18 %) ; en France : 13,3 % ; elles se situent en 2021 à 12,5 % en Chine, 11,6 % au Royaume-Uni, 3,7 % aux États-Unis.
        
        En décembre 2021, le parc mondial de voitures 100 % électriques atteignait 11,2 millions de véhicules, dont 55 % en Chine, 27 % en Europe et 12 % aux États-Unis. Le nombre de voitures électriques vendues en Europe a dépassé celui des voitures Diesel en décembre 2021.</div>
